#TabsToolbar {
    visibility: collapse !important;
}
#sidebar-header {
    display: none;
}
#alltabs-button {
    display: none !important;
}
@media (-moz-bool-pref: "sidebar.verticalTabs") {
    #new-tab-button {
        display: none;
    }
}
#firefox-view-button {
    display: none !important;
}
